.class1a{background-color:#55bdf4;}
.class2a{background-color:#d88310;}
.class3a{background-color:#408de6;}
.class4a{background-color:#ff8080;}
.class5a{background-color:#ff00eb;}
.class6a{background-color:#74ffbf;}
.class7a{background-color:#34c8ff;}
.class8a{background-color:#008b66;}

.class1b{background-color:#0aff97;}
.class2b{background-color:#d46cd4;}
.class3b{background-color:#30beb8;}
.class4b{background-color:#ff8080;}
.class5b{background-color:#ff00eb;}
.class6b{background-color:#74ffbf;}
.class7b{background-color:#34c8ff;}
.class8b{background-color:#008b66;}

.class1c{background-color:#a9a6fa;}
.class2c{background-color:#3f8d28;}
.class3c{background-color:#78c4c1;}
.class4c{background-color:#ff8080;}
.class5c{background-color:#ff00eb;}
.class6c{background-color:#74ffbf;}
.class7c{background-color:#34c8ff;}
.class8c{background-color:#008b66;}

.class1d{background-color:#a9a6fa;}
.class2d{background-color:#ac9f3f;}
.class3d{background-color:#6afff9;}
.class4d{background-color:#ff8080;}
.class5d{background-color:#ff00eb;}
.class6d{background-color:#74ffbf;}
.class7d{background-color:#34c8ff;}
.class8d{background-color:#008b66;}

.class1e{background-color:#a9a6fa;}
.class2e{background-color:#b8f7a5;}
.class3e{background-color:#6afff9;}
.class4e{background-color:#ff8080;}
.class5e{background-color:#ff00eb;}
.class6e{background-color:#74ffbf;}
.class7e{background-color:#34c8ff;}
.class8e{background-color:#008b66;}

.class1f{background-color:#a9a6fa;}
.class2f{background-color:#b8f7a5;}
.class3f{background-color:#6afff9;}
.class4f{background-color:#ff8080;}
.class5f{background-color:#ff00eb;}
.class6f{background-color:#74ffbf;}
.class7f{background-color:#34c8ff;}
.class8f{background-color:#008b66;}

.class1g{background-color:#a9a6fa;}
.class2g{background-color:#b8f7a5;}
.class3g{background-color:#6afff9;}
.class4g{background-color:#ff8080;}
.class5g{background-color:#ff00eb;}
.class6g{background-color:#74ffbf;}
.class7g{background-color:#34c8ff;}
.class8g{background-color:#008b66;}

.class1h{background-color:#a9a6fa;}
.class2h{background-color:#b8f7a5;}
.class3h{background-color:#6afff9;}
.class4h{background-color:#ff8080;}
.class5h{background-color:#ff00eb;}
.class6h{background-color:#74ffbf;}
.class7h{background-color:#34c8ff;}
.class8h{background-color:#008b66;}
